body {
  background-color: #fdf6e3;
  font-size: 1.5rem;
}

header, footer {
  font-size: 1.5rem
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

.dfn:first-of-type {
  background-color: #b58900;

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

.dfn  {
  color: #fff;
}

.wrapper > .dfn {
  background-color: #b58900;
}
